gunicorn==21.2.0
Flask==2.3.2
Flask-Cors==4.0.0
Flask-JWT-Extended==4.4.4
pymongo==4.4.0
python-dotenv==1.0.0
numpy==2.3.5
scipy==1.16.3
scikit-learn==1.7.2   # needed if your saved model requires sklearn at load-time
joblib==1.5.2        # if you use joblib to load model
requests==2.32.5
dnspython==2.8.0     # for mongodb+srv URIs
